//  .position-fixed{
//     position: fixed
//   }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  img{
    border-radius: 50%;
    height:40px;
    width:40px;
  }

  .user{
    display:flex;
    align-items: center;
    gap:1rem;
  }
 